<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="google-site-verification" content="abCx4cKleS3945psKOFFQuiS1wc16xKbwhNxsuD5JQ0" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	

		
		<title>Legal Information - The Omni Group</title>
		
			<meta property="og:title" content="Legal Information - The Omni Group" />
		
		
		
			<meta name="description" content="Creators of Mac, iPad, and iPhone productivity software. Proud to bring you OmniFocus, OmniOutliner, OmniGraffle, and OmniPlan." />
			<meta property="og:description" content="Creators of Mac, iPad, and iPhone productivity software. Proud to bring you OmniFocus, OmniOutliner, OmniGraffle, and OmniPlan." />
		
		
		
		
		
            <meta property="og:image" content="/assets/img/logo/BlueOmni.png" />
        

		

		
		
			<meta property="og:url" content="https://www.omnigroup.com/legal/privacy" />
		

		<meta property="og:site_name" content="The Omni Group" />

	
        <!-- Smart App Banner -->
        
        <link rel="stylesheet" href="/assets/css/omni.css?20201111144325">

        

        <link rel="apple-touch-icon" href="/assets/img/logo/BlueOmni.png">
	    
        <link rel="mask-icon" href="/assets/img/logo/omnilogo.svg" color="#1daeec">
        <script src="/assets/js/vendor/vue.min.js?20201111144325"></script>
        <link rel="stylesheet" href="https://use.typekit.net/ahh4bnt.css?20201111144325">


        
        

    </head>
    <body  class="legal">
       
    
		<div class="container">
	

<header id="main-nav" class="main-nav" ref="mainMenu">
    <div class="nav-content">
        <div class="omni-bar">
            <a class="homelink" href="/"><img src="/assets/img/logo/omni-bleu.svg" alt="Logo of The Omni Group" class="omnilogo"></a>
            <span class='carticonmobile hidden'>
                <a href="https://store.omnigroup.com/cart" class="cart">
                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                         x="0px" y="0px" width="31.8px" height="30.9px" viewBox="0 0 31.8 30.9" style="enable-background:new 0 0 31.8 30.9;"
                         xml:space="preserve">
                        <path class="st0" style="fill:#3A9FF2; " d="M24,23V25H8.2c-1.3,0-2.5-1-2.8-2.3l-3.1-12c-0.1-0.3-0.5-0.7-0.8-0.7H0V8h1.5c1.2,0,2.5,1,2.8,2.3l3.1,12
                           ZC7.5,22.7,7.9,23,8.2,23H24z"/>
                        <circle style="fill: #3A9FF2;" cx="10.5" cy="28.1" r="2.7"/>
                        <circle style="fill: #3A9FF2;" cx="20.1" cy="28.2" r="2.7"/>
                        <circle style="fill: #3A9FF2;" cx="22.8" cy="9" r="9"/>
                        <text id="cart-count-mobile" width="10" text-anchor="middle" transform="matrix(1 0 0 1 23 13)" style="fill: #F6F6F6; font-size:12px;">5</text>
                        <path style="fill:#3A9FF2" d="M22.4,19.2c-5.1,0-9.3-3.9-9.7-8.9H7.4c-0.8,0-1.3,0.7-1.2,1.5L8.1,20c0.2,0.8,1,1.5,1.9,1.5h12.4
        c0.8,0,1.7-0.7,1.8-1.5l0.2-1.1C23.8,19.1,23.1,19.2,22.4,19.2z"/>
                    </svg>
                </a>
            </span>

            <button @click="toggleMobile" id="expando" class="nav-hamburger-button">
                <span>Menu Toggle</span>
            </button>
        </div>
        <nav class="main">
            <a class="homelink" href="/"><img src="/assets/img/logo/omni-bleu.svg" alt="Logo of The Omni Group" class="omnilogo"></a>
            <ul class="nav-items">
                <li @click="toggleActive" class="app-list list">
                    Apps
                    <ul class="sub-nav-items">
                        <li class="sub-nav-item" v-for="app in apps">
                            <a :href=" app.link " class="sub-nav-anchor">
                                <img v-if="app.icon !== null" :src="'/assets/img/glyphs/app-icons/' + app.icon " class="product-icons"/>
                                <div v-else></div>
                                {{app.id}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li @click="toggleActive" class="list help">
                    Help
                    <ul class="sub-nav-items">
                        <li class="sub-nav-item" v-for="item in help">
                            <a :href=" item.link " class="sub-nav-anchor">{{item.id}}</a>
                        </li>
                    </ul>
                </li>
                <li @click="toggleActive" class="list company">
                    Company
                    <ul class="sub-nav-items">
                        <li class="sub-nav-item" v-for="item in company">
                            <a :href=" item.link " class="sub-nav-anchor">{{item.id}}</a>
                        </li>
                    </ul>
                </li>
                <a href="https://accounts.omnigroup.com"><li class="list">Omni Accounts</li></a>
                <a href="https://store.omnigroup.com"><li class="list">Store</li></a>
            </ul>

            <span class='carticon hidden'>
                <a href="https://store.omnigroup.com/cart" title="Omni Shopping Cart" class="cart">
                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                         x="0px" y="0px" width="31.8px" height="30.9px" viewBox="0 0 31.8 30.9" style="enable-background:new 0 0 31.8 30.9;"
                         xml:space="preserve">
                        <path class="st0" style="fill:#3A9FF2; " d="M24,23V25H8.2c-1.3,0-2.5-1-2.8-2.3l-3.1-12c-0.1-0.3-0.5-0.7-0.8-0.7H0V8h1.5c1.2,0,2.5,1,2.8,2.3l3.1,12
                           ZC7.5,22.7,7.9,23,8.2,23H24z"/>
                        <circle style="fill: #3A9FF2;" cx="10.5" cy="28.1" r="2.7"/>
                        <circle style="fill: #3A9FF2;" cx="20.1" cy="28.2" r="2.7"/>
                        <circle style="fill: #3A9FF2;" cx="22.8" cy="9" r="9"/>
                        <text id="cart-count" width="10" text-anchor="middle" transform="matrix(1 0 0 1 23 13)" style="fill: #F6F6F6; font-size:12px;">5</text>
                        <path style="fill:#3A9FF2" d="M22.4,19.2c-5.1,0-9.3-3.9-9.7-8.9H7.4c-0.8,0-1.3,0.7-1.2,1.5L8.1,20c0.2,0.8,1,1.5,1.9,1.5h12.4
        c0.8,0,1.7-0.7,1.8-1.5l0.2-1.1C23.8,19.1,23.1,19.2,22.4,19.2z"/>
                    </svg>
                </a>
            </span>
        </nav>
    </div>
</header>
<script>
    var vm = new Vue({
        el: '#main-nav',
        data: {
            navItems: [
                'Apps',
                'Help',
                'Company'
            ],
            apps: [
                {id: 'OmniFocus', parent: 'Apps', icon: 'omnifocus.svg', link: '/omnifocus'},
                {id: 'OmniOutliner', parent: 'Apps', icon: 'omnioutliner.svg', link: '/omnioutliner'},
                {id: 'OmniGraffle', parent: 'Apps', icon: 'omnigraffle.svg', link: '/omnigraffle'},
                {id: 'OmniPlan', parent: 'Apps', icon: 'omniplan.svg', link: '/omniplan'},
                {id: 'Omni Sync Server', parent: 'Apps', icon: null, link: '//sync.omnigroup.com'},
                {id: 'More Apps', parent: 'Apps', icon: null, link: '/more'},
                {id: 'Downloads', parent: 'Apps', icon: null, link: '/downloads'}
            ],
            help: [
                {id: 'Support', parent: 'Help', icon: null, link: 'https://support.omnigroup.com/'},
                {id: 'Stenciltown', parent: 'Help', icon: null, link: 'https://stenciltown.omnigroup.com/'},
                {id: 'Videos', parent: 'Help', icon: null, link: '/video'},
                {id: 'Inside OmniFocus', parent: 'Help', icon: null, link: 'https://inside.omnifocus.com/'},
                {id: 'Inside OmniGraffle', parent: 'Help', icon: null, link: 'https://inside.omnigraffle.com/'},
            ],
            company: [
                {id: 'Blog', parent: 'Company', icon: null, link: '/blog'},
                {id: 'The Omni Show', parent: 'Company', icon: null, link: 'https://theomnishow.omnigroup.com/'},
                {id: 'Newsletter', parent: 'Company', icon: null, link: '/letters'},
                {id: 'About Us', parent: 'Company', icon: null, link: '/about'},
            ],
            windowWidth: 0
        },
        methods: {
            getWindowWidth(e) {
                this.windowWidth = document.documentElement.clientWidth;

                if (this.windowWidth < 661) {this.removeActiveClasses();}
            },
            outsideClick(e) {
                const menu = this.$refs.mainMenu;

                if (e.target !== menu && !menu.contains(e.target)) {this.removeActiveClasses();}
            },
            removeActiveClasses() {
                const active = document.getElementsByClassName('menu-active');

                for (let i = 0; i < active.length; i++) {active[i].classList.remove('menu-active');}
            },
            toggleActive(e) {
                let isActive = document.getElementsByClassName('menu-active');
                let currentTargetActive;

                for (let i = 0; i < isActive.length; i++) {
                    if (isActive[i] === e.target) {
                        currentTargetActive = isActive[i];
                    }
                    isActive[i].classList.remove('menu-active');
                }

                if (currentTargetActive) {return;}

                if (window.innerWidth > 660) {e.target.classList.add('menu-active');}
            },
            toggleMobile(e) {
                let navActive;
                let mainNav = document.getElementsByClassName('main')[0];
                for (let i = 0; i < e.target.classList.length; i++) {
                    if (e.target.classList[i] === 'active') {
                        navActive = true;
                        e.target.classList.remove('active');
                        mainNav.classList.remove('expanded');
                    }
                }

                if (navActive) {return;} else {
                    e.target.classList.add('active');
                    mainNav.classList.add('expanded');
                }
            }
        },
        created() {
            document.addEventListener('click', this.outsideClick);
        },
        mounted() {
            this.$nextTick(function() {
                window.addEventListener('resize', this.getWindowWidth);
                this.getWindowWidth();
            });
        },
        beforeDestroy() {
            document.removeEventListener('click', this.outsideClick);
            window.removeEventListener('resize', this.getWindowWidth);
        }
    });

</script>


<section class="content row">



    		<aside class='col span_6'>
			<h3>Our Policies</h3>

					
	        <li><a href="https://www.omnigroup.com/legal/EULA">End User License Agreement</a></li>
					
	        <li><a href="https://www.omnigroup.com/legal/privacy">Privacy Policy</a></li>
					
	        <li><a href="https://www.omnigroup.com/legal/unsolicited-idea-submission-policy">Unsolicited Idea Submission Policy</a></li>
		
            <ul class="space_ul">
    			<h3>Our Terms of Service</h3>
                <li><a href="https://id.omnigroup.com/tos/">ID Terms of Service</a></li>
                <li><a href="https://manage.sync.omnigroup.com/TOS">Sync Server Terms of Service</a></li>
                <li><a href="https://discourse.omnigroup.com/tos">Forums Terms of Service</a></li>
            </ul>
		</aside>
    <div class='articles col span_10'>

    <article>
        <header><h2>Privacy Policy</h2></header>
        <p><strong>Last Updated: May 24, 2018</strong></p>

<p>This Privacy Policy describes the policies of Omni Development, Inc. dba the Omni Group (collectively “Company” or “we,” “us,” or “Omni Group”) regarding the information we collect or receive about our customers. It is applicable to the omnigroup.com website and other interactive features, applications, services, or downloads that are operated by the Omni Group and which are available through the websites produced and maintained by us (“Website”). We have established this security and privacy policy (“Privacy Policy”) to let you know the kinds of personal information we may gather, why we gather your information, what we use your personal information for, when we might disclose your personal information, and how you can manage your personal information.</p>

<p>Along with the personal information which we gather or which you provide to us (for example, when you sign up for a newsletter or other mailing list, you comment on a blog or forum we operate, you purchase something from us, or we provide customer service to you), this Privacy Policy describes our policy regarding files which you upload to or store on the Omni Sync Server (&#8220;Customer Data&#8221;).</p>

<p>When you provide personal information and/or Customer Data, you are consenting to the manner in which the Omni Group will collect, use, disclose and otherwise manage your personal information and Customer Data, as set out in this Privacy Policy.</p>

<p>If you do not agree to the terms of this Privacy Policy, please do not use the Website, software, or Omni Sync Server. We reserve the right to modify or amend the terms of our Privacy Policy from time to time without notice.</p>

<p>If you have any questions about this Privacy Policy or don’t see your concerns addressed here, you should contact us by email at <a href="&#109;a&#x69;&#108;&#x74;&#111;&#x3a;&#105;&#x6e;&#102;&#x6f;&#64;o&#x6d;&#110;&#x69;&#103;&#x72;&#111;&#x75;&#112;&#x2e;&#99;&#x6f;&#109;">&#105;&#x6e;&#102;&#x6f;&#64;o&#x6d;&#110;&#x69;&#103;&#x72;&#111;&#x75;&#112;&#x2e;&#99;&#x6f;&#109;</a>.</p>

<h3>What Information About Me Is Collected and Stored?</h3>

<p>One of the basic principles we&#8217;ve tried to follow in designing this Website is that we ask for only the information we need to provide the service you&#8217;ve requested. As a result, what information we collect and store depends almost entirely on how you choose to make use of our Website and our services. In addition to information which you explicitly and knowingly provide, some information is collected incidentally such as:</p>

<ul>
<li>Our Website uses browser cookies in order to gather information on usage patterns.</li>
<li>Our software may, with your permission, send us statistics about its use (see below).</li>
<li>Our servers maintain industry-standard logs of their activity: web page visits, including IP address, Referer: header, and user-agent; envelope information of e-mail sent and received; and the like.</li>
</ul>

<h3>How do we use the information we collect?</h3>

<p>We may use your information to provide you with important information about the product or service that you are using, including critical updates and notifications. In general, we do not use your information beyond the purpose for which you provided it to us. For example, if you ask us a question by email, or subscribe to a mailing list, we will not send you product announcements or other promotional communications in response (unless that is what you requested). We do not sell, barter, or rent your personal information.</p>

<p>We do use your information internally to understand how people use our Website, services, and software and to make improvements.</p>

<p>In the event we wish to publicly post any of your personal information on a website (as, for instance, a letter), we will contact you with details and ask for your express permission to publish that information and will not publish without your express permission.</p>

<p>If you have subscribed to any Omni newsletter you may unsubscribe at any time by following the instructions located within each newsletter and on our Website, or by contacting us.</p>

<p>We gather general non-specific statistics about Customer Data that will help us improve the service, such as the amount of storage you are consuming on our servers, user-agent information sent in HTTP headers, or overall usage patterns. In rare cases we may examine metadata such as file names or synchronization client state in order to understand how the service is performing.</p>

<p>We occasionally have third party agents, subsidiaries, affiliates and partners that perform functions on our behalf, such as marketing, analytics, credit card processing, shipping or stocking orders, fraud protection, etc. These entities have access to personal information only to the extent needed to perform their functions. They are contractually obligated to maintain the confidentiality and security of that personal information and are prohibited from using that information for any other purpose.</p>

<p>If you provide information to us for the purpose of making it public (for example, on a mailing list, blog, or forum that we operate), we cannot control what other parties may do with that information once it is public. Please be careful about what you disclose and do not post any information that you expect to keep private.</p>

<p>We may provide aggregate, anonymous statistical information derived from information we collect to other organizations or to the public (for example, see <a href="http://update.omnigroup.com/">http://update.omnigroup.com/</a>). Any information we share in this manner will not identify you personally.</p>

<p>We may also use or disclose personal information or Customer Data if required to do so by law or in the good-faith belief that such action is necessary (a) to conform to applicable law or comply with legal process served on us or the Website; (b) to protect and defend our rights or property, the Website or our users, or (c) under emergency circumstances to protect the personal safety of us, our affiliates, agents, the users of the Website, or the public. In cases where we must disclose personal information or Customer Data, we will send email to the address registered to any accounts affected by that disclosure.</p>

<h3>How long do we retain the information we collect?</h3>

<p>Most information we collect may be stored indefinitely.</p>

<p>If you provide your credit card information, we do of course transmit the entire credit card number to the appropriate credit card company during order processing using commercially reasonable encryption methods. In addition, we will store the expiration date and last four digits of the credit card number in case you contact us with a billing question or we need to apply a refund or credit. We do not store the full credit card number or the card security code you enter in the payment form.</p>

<p>We maintain backups of Customer Data in order to recover from hardware failures or other problems. These backups are not kept longer than six months.</p>

<h3>What Steps Are Taken To Keep Personal Information and Customer Data Protected?</h3>

<p>We are committed to protecting your personal information and Customer Data. We use a variety of technologies and procedures to help protect your personal information and Customer Data from unauthorized access, use, or disclosure.</p>

<p>Personal information we collect or receive and Customer Data you upload is stored in protected operating environments that are not available to the public and, when transmitted, is protected using strong cryptography. Our public-facing servers are periodically reviewed for known security issues by a third party.</p>

<p>We limit access to your personal information or Customer Data to only our employees and third parties who need access for purposes described in this Privacy Policy. They are contractually obligated to maintain the confidentiality and security of that personal information, are prohibited from using that information for any other purpose, and are subject to disciplinary action, including possible termination and civil and/or criminal prosecution, for failing to do so.</p>

<p>If a password is used to help protect your accounts and personal information and Customer Data, it is your responsibility to keep your password confidential. Do not share this information with anyone. If you are sharing a computer with anyone you should always log out before leaving a website or service to protect access to your personal information and Customer Data from subsequent users.</p>

<p>While we use reasonable security measures to safeguard your personal information and Customer Data once we receive it, no transmission of data over the Internet or any other public network can be guaranteed to be 100% secure. You should know that no company, including the Omni Group, can fully eliminate security risks associated with personal information or Customer Data. Accordingly, the Omni Group cannot ensure or warrant the security of any information you transmit to us on our Sites.</p>

<h3>Information for Users in Europe and Elsewhere Outside the U.S.</h3>

<p>If you use our Website outside of the United States, you understand that we may collect, process, and store your personal information in the United States and other countries. The laws in the U.S. regarding personal information may be different from the laws of your state or country. Any such transfers will comply with safeguards as required by relevant law. If applicable, you may have a right to claim compensation for damages caused by a breach of relevant data protection laws.</p>

<h3>Users in the European Union (EEA) and Switzerland</h3>

<p>If you are a resident of the EEA or Switzerland, the following information applies.</p>

<p>Purposes of processing and legal basis for processing: As explained above, we process personal data in various ways depending upon your use of our Website. We process personal data on the following legal bases: (1) with your consent; (2) as necessary to perform our agreement to provide services; and (3) as necessary for our legitimate interests in providing the Website where those interests do not override your fundamental rights and freedom related to data privacy.</p>

<p><strong>Right to lodge a complaint</strong>: Users that reside in the EEA or Switzerland have the right to lodge a complaint about our data collection and processing actions with the supervisory authority concerned. Contact details for data protection authorities are available from the <a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">European Commission website</a>.</p>

<p><strong>Transfers</strong>: Personal information we collect may be transferred to, and stored and processed in, the United States or any other country in which we or our affiliates or subcontractors maintain facilities. Upon the start of enforcement of the General Data Protection Regulation (GDPR), we will ensure that transfers of personal information to a third country or an international organization are subject to appropriate safeguards as described in Article 46 of the GDPR.</p>

<p><strong>Your Rights</strong>: Residents of the EEA and Switzerland are entitled to rights under Chapter III of the EU General Data Protection Regulation or Section 2 of the Swiss Federal Act on Data Protection with respect to the processing of your personal data, including rights to request erasure of personal data or object to our processing of personal data. In order to verify your identity, we may require you to provide us with personal information prior to accessing any records containing information about you.</p>

<h3>Is Information Collected From Children?</h3>

<p>We do not sell or ship any items ordered through this Website directly to anyone who we know to be under the age of 13, nor do we collect any personal information from anyone who we know to be under the age of 13. If you are under the age of 13, you should use this Website only with the involvement and consent of a parent or guardian and should not submit any personal information to us. Our Website is not intentionally targeted to children under the age of 13.</p>

<h3>Passwords</h3>

<p>To use some features of this Website, or our software, you may be asked to set up an account and provide a functional email address and password. You should be careful about providing your password to others - you are responsible for the actions of anyone you&#8217;ve shared your password with. No one at the Omni Group will ask for your password; if they do, you should not provide the information and should email <a href="&#109;&#x61;&#105;&#x6c;&#x74;&#111;&#x3a;&#99;&#117;&#x73;&#116;&#x6f;m&#101;&#x72;&#115;&#x65;r&#118;&#x69;&#99;&#x65;&#x40;&#111;&#x6d;&#110;&#105;&#x67;&#114;&#x6f;u&#112;&#x2e;&#99;&#x6f;m">&#99;&#117;&#x73;&#116;&#x6f;m&#101;&#x72;&#115;&#x65;r&#118;&#x69;&#99;&#x65;&#x40;&#111;&#x6d;&#110;&#105;&#x67;&#114;&#x6f;u&#112;&#x2e;&#99;&#x6f;m</a> to report the incident so we can investigate.</p>

<h3>Governing Law</h3>

<p>The Website is published in the United States. U.S. law shall govern in any and all disputes, including privacy or defamation issues or otherwise.</p>

<h3>Your California Privacy Rights</h3>

<p>If you are a California resident, California law permits you to request certain information regarding the disclosure of your personal information by us and our related companies to third parties for the third parties&#8217; direct marketing purposes. To make such a request, please send your request, by mail or email, to:</p>

<p>Omni Development, Inc.<br />
1000 Dexter Avenue North, Suite 400<br />
Seattle, Washington 98109-3582<br />
United States<br />
info@omnigroup.com</p>

<h3>Changes to This Policy</h3>

<p>As our company and Website continue to develop, we may add new services and features to our Website or products. If these additions affect our Privacy Policy, this document will be updated appropriately. We will post those changes prominently so that you will always know what information we gather, how we might use that information and whether we will disclose it to anyone. We do, however, recommend that you read this Privacy Policy periodically in case you missed any changes to the Privacy Policy.</p>

<h3>Opt-Out and Correction Procedures</h3>

<p>If you have previously opted to subscribe an Omni mailing list, you may always opt-out of receiving future e-mail messages and newsletters by ending your subscription. Unsubscribe instructions are located within each newsletter and on our Website, or you may contact our Customer Service Department.</p>

<p>We will help you to correct or update personal information that you have previously provided to us. To do so, you can access, correct and update certain personal information that you have provided to us by emailing <a href="&#x6d;&#97;i&#x6c;&#116;o&#x3a;&#115;u&#x70;&#112;o&#x72;&#116;&#64;&#x6f;&#109;n&#x69;&#103;r&#x6f;&#117;p&#x2e;&#99;o&#x6d;">&#115;u&#x70;&#112;o&#x72;&#116;&#64;&#x6f;&#109;n&#x69;&#103;r&#x6f;&#117;p&#x2e;&#99;o&#x6d;</a> or <a href="&#x6d;&#97;i&#x6c;&#116;&#111;&#x3a;&#115;&#97;&#x6c;&#x65;&#115;&#x40;&#x6f;&#109;n&#x69;&#103;&#114;&#x6f;&#117;&#112;&#x2e;&#x63;&#111;&#x6d;">&#115;&#97;&#x6c;&#x65;&#115;&#x40;&#x6f;&#109;n&#x69;&#103;&#114;&#x6f;&#117;&#112;&#x2e;&#x63;&#111;&#x6d;</a>.</p>

<p>If you wish to cancel your password, please contact our Customer Service Department by email at <a href="&#x6d;&#97;i&#x6c;&#116;o&#x3a;&#115;u&#x70;&#112;o&#x72;&#116;&#64;&#x6f;&#109;n&#x69;&#103;r&#x6f;&#117;p&#x2e;&#99;o&#x6d;">&#115;u&#x70;&#112;o&#x72;&#116;&#64;&#x6f;&#109;n&#x69;&#103;r&#x6f;&#117;p&#x2e;&#99;o&#x6d;</a> or by phone at 800-315-6664. If you become aware of any unauthorized use of your password, data theft, or possible security issues with our Website or products, please contact <a href="&#x6d;&#x61;&#x69;&#x6c;&#116;&#111;&#58;&#115;&#101;&#99;u&#x72;&#x69;&#x74;&#x79;&#x40;&#111;&#109;&#110;&#105;&#103;r&#x6f;&#x75;&#x70;&#x2e;&#x63;&#111;&#109;">&#115;&#101;&#99;u&#x72;&#x69;&#x74;&#x79;&#x40;&#111;&#109;&#110;&#105;&#103;r&#x6f;&#x75;&#x70;&#x2e;&#x63;&#111;&#109;</a>. Especially sensitive issues may be encrypted to our PGP key, <code>0x0A70467B</code>.</p>

<h3>Who do I talk to if I have more questions?</h3>

<p>Questions regarding this statement should be directed to <a href="&#109;a&#x69;&#108;&#x74;&#111;&#x3a;&#105;&#x6e;&#102;&#x6f;&#64;o&#x6d;&#110;&#x69;&#103;&#x72;&#111;&#x75;&#112;&#x2e;&#99;&#x6f;&#109;">&#105;&#x6e;&#102;&#x6f;&#64;o&#x6d;&#110;&#x69;&#103;&#x72;&#111;&#x75;&#112;&#x2e;&#99;&#x6f;&#109;</a>.</p>

    </article>

    </div>


</section><!--/content-->

        <div class="sticky_footer"></div>
        </div> <!-- end content -->
        <footer class="footer-v2 ">
            <div class="footer-links-main">
                <a href="/slack/" class="footer-link-main slack">
                    <div class="footer-link-main-icon">
                        <img src="/assets/img/glyphs/footer-icons/slack.svg" alt="An image linking to a signup page for our Slack Workspace." />
                    </div>
                    <div class="footer-link-main-text">Slack</div>
                </a>
                <a href="https://discourse.omnigroup.com/" class="footer-link-main forums">
                    <div class="footer-link-main-icon">
                        <img src="/assets/img/glyphs/footer-icons/forums.svg" alt="An image linking to our Forums." />
                    </div>
                    <div class="footer-link-main-text">Forums</div>
                </a>
                <a href="https://twitter.com/OmniGroup" class="footer-link-main twitter">
                    <div class="footer-link-main-icon">
                        <img src="/assets/img/glyphs/footer-icons/twitter.svg" alt="An image of the twitter logo linking to the Omni Group Twitter page." />
                    </div>
                    <div class="footer-link-main-text">Twitter</div>
                </a>
                <a href="https://www.facebook.com/theomnigroup/" class="footer-link-main facebook">
                    <div class="footer-link-main-icon">
                        <img src="/assets/img/glyphs/footer-icons/fb-logo.svg" alt="An image of the Facebook logo linking to the Omni Group Facebook page." />
                    </div>
                    <div class="footer-link-main-text">Facebook</div>
                </a>
                <a href="https://www.instagram.com/omnigroup/" class="footer-link-main instagram">
                    <div class="footer-link-main-icon">
                        <img src="/assets/img/glyphs/footer-icons/ig-logo.svg" alt="An image of the Instagram logo linking to the Omni Group Instagram page." />
                    </div>
                    <div class="footer-link-main-text">Instagram</div>
                </a>
            </div>
            <div class="spacer"></div>
            <div class="footer-secondary-wrap">
                <div class="footer-links-secondary">
                    <div class="footer-omni-logo">
                        <a href="/"><svg id="omnibw" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583.08 161.25"><title>The Omni Group Logo</title><path fill="#4a4a49" d="M106.33,30.84a80.33,80.33,0,1,0,80.33,80.33A80.33,80.33,0,0,0,106.33,30.84Zm222.23,0H224.33a18.58,18.58,0,0,0-18.53,21.09V171a18.58,18.58,0,0,0,18.53,21.09H328.56a18.7,18.7,0,0,0,18.7-18.7V49.15h0A18.69,18.69,0,0,0,328.56,30.84Zm168.59,0h-97.3a9.48,9.48,0,0,0-6.35,16.53L499.32,153.19a9.48,9.48,0,0,0,16.53-6.35V48h-0.08A18.69,18.69,0,0,0,497.15,30.84Zm93.24,0H560.73A18.7,18.7,0,0,0,542,49.54V173.4a18.7,18.7,0,0,0,18.7,18.7h29.66a18.7,18.7,0,0,0,18.7-18.7V49.54A18.7,18.7,0,0,0,590.39,30.84ZM496.1,175.56L390.28,69.74a9.48,9.48,0,0,0-16.53,6.35V175h0.08a18.69,18.69,0,0,0,18.62,17.12h97.3A9.48,9.48,0,0,0,496.1,175.56Z" transform="translate(-26 -30.84)"/></svg></a>
                    </div>
                    <div class="footer-text-links">
                        <a href="/sitemap/" class="footer-text-link">Sitemap</a>
                        <a href="mailto:info@omnigroup.com" class="footer-text-link">Contact</a>
                        <a href="/press/" class="footer-text-link">Press</a>
                        <a href="/legal/" class="footer-text-link">Legal</a>
                    </div>
                    <div class="copyright-text">
                        <span>&copy; 1994&ndash;2021 The&nbsp;Omni&nbsp;Group; Apple, MacBook, the Apple logo, iPad, and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.</span> 
                    </div>
                </div>
            </div>
        </footer>

        <script src="/assets/js/vendor/jquery.min.js?20201111144325"></script>
        <script src="/assets/js/omni.js?20201111144325"></script>
        <link rel="prefetch stylesheet" href="/assets/fonts/fonts.css?20201111144325">

        

        
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    
    _paq.push(["setCookieDomain", "*.www.omnigroup.com"]);
    _paq.push(["setDomains", ["*.www.omnigroup.com", "*.omnigroup.com"]]);
    _paq.push(["enableCrossDomainLinking"]);
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);
    _paq.push(['setDownloadClasses', "track-download"]);
    (function() {
      var u = "//piwik.omnigroup.com/";
      _paq.push(["setTrackerUrl", u + "matomo.php"]);
      _paq.push(["setSiteId", "1"]);
      _paq.push(['addTracker', u + 'matomo.php', 17]);
      var d = document,
        g = d.createElement("script"),
        s = d.getElementsByTagName("script")[0];
      g.type = "text/javascript";
      g.async = true;
      g.defer = true;
      g.src = u + "matomo.js";
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript><img src="https://piwik.omnigroup.com/matomo.php?idsite=1&rec=1" style="border:0" alt="" /></noscript>
  <!-- End Matomo Code -->



        
    </body>
</html>

